$white: white;
$grey: #6a6a6a;
$light-grey: #dfdfdf;
$dark-blue: #222831;
$primary: #10375c;
$primary-dark: #0d2c4a;
$secondary: #ff5722;
$secondary-transparent: #ff562255;
$secondary-saturated: #dd2c00;
$black: #000;
